# Environment
.env
*.env.local

# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/

# Node / Vue
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

backend/data